@-ms-viewport {
  width: device-width;
}

*::-moz-selection {
  color: #ffffff;
  background-color: #ff7d6e;
}

*::selection {
  color: #ffffff;
  background-color: #ff7d6e;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
  color: var(--font-color-default);
  letter-spacing: normal;
  word-spacing: normal;
}

main {
  min-height: 100vh; /*calc header + footer*/
  display: block;
}

h1,
.h1-like {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  margin-bottom: var(--gap-lg);
}

h2,
.h2-like {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  margin-bottom: var(--gap-xxl);
}

h3,
.h3-like {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  margin-bottom: var(--gap-lg);
}

h4,
.h4-like {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  margin-bottom: var(--gap-lg);
}

h5,
.h5-like {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  margin-bottom: var(--gap-lg);
}

h6,
.h6-like {
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
  margin-bottom: var(--gap);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--font-weight-light);
}

h6 {
  font-weight: var(--font-weight-medium);
}

p {
  margin-bottom: var(--gap-lg);
}

ol,
ul {
  padding-left: var(--gap-lg);
  margin-bottom: var(--gap-lg);
}

ul li {
  list-style: square;
  margin-bottom: var(--gap-md);
}

ol li {
  margin-bottom: var(--gap-md);
}

a {
  color: inherit;
}
