.link {
  height: auto;
  max-height: var(--line-height-base);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: var(--gap-lg);
}
.link-text {
  font-weight: inherit;
  text-decoration: underline;
}
.link-icon {
  display: inline-flex;
  height: 100%;
  max-height: var(--line-height-base);
  transform: translate3d(0, 0, 0);
  transition: transform 0.125s ease-in-out;

  width: 18px;
  /*TO DO: check width and height for icons*/
}
.link-icon--vertical {
  height: 16px;
  width: 11px;
  /*TO DO: check width and height for icons*/
}
.link--red .link-text {
  color: var(--color-yv-red);
}
.link--red .link-icon {
  fill: var(--color-yv-red);
}
.link--blue .link-text {
  color: var(--color-yv-blue);
}
.link--blue .link-icon {
  fill: var(--color-yv-blue);
}
.link--green .link-text {
  color: var(--color-yv-green);
}
.link--green .link-icon {
  fill: var(--color-yv-green);
}
.link--mustard-yellow .link-text {
  color: var(--color-mustard-yellow);
}
.link--mustard-yellow .link-icon {
  fill: var(--color-mustard-yellow);
}
.link--baby-blue .link-text {
  color: var(--color-baby-blue);
}
.link--baby-blue .link-icon {
  fill: var(--color-baby-blue);
}
.link--pastel-green .link-text {
  color: var(--color-pastel-green);
}
.link--pastel-green .link-icon {
  fill: var(--color-pastel-green);
}
.link--to_right .link-icon {
  margin-left: 0.27273rem;
  /*TO DO: check margin for icons*/
}
.link--to_right:hover .link-icon {
  transform: translate3d(4px, 0, 0);
}
.link--to_left .link-icon {
  margin-right: 0.27273rem;
  /*TO DO: check margin for icons*/
}
.link--to_left:hover .link-icon {
  transform: traFnslate3d(-4px, 0, 0);
}
.link--to_bottom .link-icon {
  margin-right: 0rem;
  margin-left: 0.45455rem;
  /*TO DO: check margin for icons*/
}
.link--to_bottom:hover .link-icon {
  transform: translate3d(0, 4px, 0);
}
.link:hover .link-text {
  text-decoration: none;
}
.link_inline {
  text-decoration: underline;
  margin-bottom: 0;
}
.link_inline--red {
  color: var(--color-yv-red);
}
.link_inline--blue {
  color: var(--color-yv-blue);
}
.link_inline--green {
  color: var(--color-yv-green);
}
.link_inline--mustard-yellow {
  color: var(--color-mustard-yellow);
}
.link_inline--baby-blue {
  color: var(--color-baby-blue);
}
.link_inline--pastel-green {
  color: var(--color-pastel-green);
}
.link_inline:hover {
  text-decoration: none;
}
